.book-details-page {
  padding: 0px 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.back-button {
  padding: 10px 20px;
  background-color: #444;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 20px;
  display: flex;
  gap: 10px;
  font-size: 0.85rem;
  font-weight: bold;
}

.back-button:hover {
  background-color: #222;
}

.book-info {
  max-width: 600px;
  margin: 0 auto;
  background-color: #fff3e6;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.book-cover-large {
  width: 100%;
  max-width: 400px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.book-title {
  font-size: 2rem;
}

.book-full-description {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 20px;
}

.buy-button-amazon,
.buy-button-booklove {
  display: flex;
  padding: 10px 15px;
  background-color: #ffd814;
  color: black;
  border-radius: 8px;
  text-decoration: none;
  font-size: 0.85rem;
  gap: 10px;
  width: fit-content;
  align-items: center;
  font-weight: 600;
}

.buy-button-booklove {
  background-color: #e2d9d9;
  border: 1px solid darkgray;
}

.buy-button-amazon:hover {
  background-color: rgb(229, 191, 0);
}

.buy-button-booklove:hover {
  background-color: #ffffff;
}

.button-container {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

@media (max-width: 445px) {
  .button-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }
}
